body {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
#outer-container {
  position: absolute;
  padding: 5px;
  height: 100vh;
  width: 100%;
  justify-content: flex-start;
}
#init-text {
  justify-self: flex-end;
  align-self: flex-start;
  position: fixed;
  bottom: 0;
  margin-bottom: 5px;
}
#init-deco {
  margin-bottom: 50px;
  margin-top: 15px;
  align-self: center;
}
.content {
  align-self: center;
}